*{
    margin: 0;
    padding: 0;
}
header{
    background-color: black;
}
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top:15px ;
}
.logos{
    width: 20px;
}
.licolor{
    color: white;
    list-style: none;
    font-size: 20px;
    margin-right: 25px; ;
}
.menus{
    display: flex;
   
}
.banner{
    height: 80vh;
    display: flex;
    justify-content: space-around;
    border: 2px solid black;
    align-items: center;
    background-image: url("background.png"),linear-gradient(45deg,rgb(42, 38, 38),black);
}